body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #d2f2d4;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

main {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ball {
  position: relative;
  height: 80px;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.a {
  animation-name: loading-a;
}

.b {
  animation-name: loading-b;
  height: 45px;
  animation-delay: .7;
}

@keyframes loading-b {
  0% {
    right: 0;
  }
  25% {
    transform: scale(0.4);
    right: 70px;
    z-index: 0;
  }
  50% {
    transform: scale(1);
    right: 140px;
  }
  75% {
    transform: scale(1.4);
    right: 70px;
    z-index: 1;
  }
  100% {
    transform: scale(1);
    right: 0px;
  }
}

@keyframes loading-a {
  0% {
    left: 0;
  }
  25% {
    transform: scale(1.4);
    left: 70px;
    z-index: 1;
  }
  50% {
    transform: scale(1);
    left: 140px;
  }
  75% {
    transform: scale(0.4);
    left: 70px;
    z-index: 0;
  }
  100% {
    transform: scale(1);
    left: 0px;
  }
}